body {
  font-family: 'Catamaran', sans-serif;
  color:#272625;
  background-color:#f6ea8c;
}

h1 {
  text-align:center;
  font-size:60px;
  text-shadow: #c9d6de 1px 3px;
}

.question {
  font-size:30px;
}

label {
  border:1px solid #e3e36a;
  padding:10px;
  margin:0 0 10px;
  display:block;
  font-size:20px;
}

label:hover {
  background:#e3dede;
  cursor:pointer;
}

ul {
  list-style: none;
}

nav li {
  display:inline;
  margin:10px;
  /* border-style:solid;
  border-width:thin; */
  position:relative;

}
nav {
  text-align: center;
  /* border-style: solid;
  border-width: thin; */
}

nav ul {
  padding:inherit;
  list-style:none;
}
